/* .dropdown-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    margin: 0 auto;
  }
  
  
  .dropdown {
    width: 100%;
    padding: 20px;
    font-size: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: #f9f9f9;
    color: #333;
  }
  
  
  .car-brand {
    .dropdown{
    position: absolute;
    width: 754px;
    height: 59px;
    left: 450px;
    top: 200px;
    border-color: #007bff;
    }
  }
  
  .car-model {
    border-color: #28a745;
  }
  
  .reg-year {
    border-color: #ffc107;
  }
  
  .manuf-year {
    border-color: #17a2b8;
  }
  
  .variant {
    border-color: #6c757d;
  }
  
  .rto {
    border-color: #dc3545;
    }
 
  .dropdown:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
 
.box{
position: fixed;
width: 640px;
height: 448px;
left: 650px;
top: 302px;

background: #1B86E5;
border-radius: 49.0269px;

}
.name
{
    position: absolute;
    width: 754px;
    height: 59px;
    left: 450px;
    top: 200px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}

#carpic{
  width: 100px;
  height: 200px;
} */