
.insurance-container {
    background-color: #1B86E5;
    width: 400px; 
    padding: 20px 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 600px; 
    margin-top: 150px; 
    font-family: 'Outfit', sans-serif;
    color: #000;
}
.h1
{
    position: absolute;
    width: 1073px;
    height: 80px;
    left: -140px;
    top: -130px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 81px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
}


.insurance-section h3 {
    font-size: 16px; 
    color: #fff;
    margin-bottom: 10px;
}


.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    width: 100%; 
}


.checkbox-group label {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 8px 12px; 
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 68%; 
    font-family: 'Outfit', sans-serif;
}


.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}


.quote-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ccc;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quote-button:hover {
    background-color: #aaa;
}


.insurance-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 45%; 
} 
